/* *{
    Text-shadow: 2px 4px 13px black;
    
} */

html{
    /* height: 100%;
    width: 100%; */
}
.container{
    /* background: linear-gradient(green, #013220); */
    color:bisque;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/sunset\ background.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;	
    
    /* border: none;
    padding: none;
    margin: none; */
    /* margin-right: 10px;
    margin-left: 10px; */
    
}
.header{
    background-color: rebeccapurple;
    padding-bottom: 20px;
    padding-top: 20px;
    /* background-color: green; */
}
.logo{
    height: 100px;
    width: 100px;
}
nav{
    background-color: white;
}
.bio1{
    font-size: 2rem;
    padding-right: 10%;
    padding-left: 10%;
}
#linkedinbutton{
    height: 50px;
    width: 50px;
}
#githubbutton{
    height : 50px;
    width: 50px;;

}
/* *{background-color:darkseagreen;} */
 
.Top-Cards{
    box-shadow: 2px 2px, 10px;
}
.Skills{
font-size: 3rem;
text-align: center;
/* text-decoration: underline; */
padding: 0;
margin: 35px;
margin-bottom: 70px;
margin-top: 90px;
/* border: 0; */

}
.Skills-Listed{
text-align: center;
font-size: 2rem;
padding-right: 8%;
padding-left: 8%;

}
html{
    margin: 0;
    padding: 0;
    border: 0;
}
.project-title{
    font-size: 16px;
    text-decoration: none;
  
}
.institution{
font-size: 1.2rem;


}
.degree{
font-size: 1.2rem;

}
.year{
font-size: 1.2rem;
}


.solo-projects{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/forest-208517_1280.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#solo-page{
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/beach-2089959_1280.jpg); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-696098_1920.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;	
}

#team-page{
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/forest-208517_1280.jpg); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/beach-2089959_1280.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

#other-page{
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-696098_1920.jpg); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/forest-208517_1280.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.flex-slide{
    
}

.footer,
.push {
  height: 50px;
}