
*{
    list-style: none;
}

/* body{
  background-image: url(donutbackground2.jpg);
  height: 200px;
} */
.button{
    width: 100px;
    height: 100px;
    
}

#donutimg{
    width: 500px;
    height: 500px;
}

/* .container{
  display: grid;
grid-template-columns: .4fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
} */
.buttons{
  grid-area: 1 / 1 / 2 / 2; 
}
#donut-container{
  grid-area: 1 / 2 / 2 / 3;
}


.donutimg:active{
    
    animation: 0.6s rotatefresh 1;
}
@keyframes rotatefresh {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        transition-duration: 0.6s;
        transition: 0.6s;
    }
}

  .dropdown-images{
    height: 70px;
    width: 70px;
  }

  .dropdown-images{
    display: block;
    margin: auto;
  }
  .logo{
    width: 70px;
    height: 70px;
    margin: 20px;
  
  }
  .modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: aliceblue;
    width: 500px;
    max-width: 80%;
  }

  .modal.active{
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .modal-header {
    font-size: 1.25rem;
font-weight: bold;
}

.modal-header .close-modal{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

.menu-item{
  text-decoration: underline;
color: white;

}
.modal{
  color: black;
}

#donut-container{
  margin-left: 30%;
  margin-right: 30%;
 
}
.donutsvg-container{
margin-top: 23%;
}
