/* *{
    Text-shadow: 2px 4px 13px black;
    
} */


#linkedinbutton{
    height: 50px;
    width: 50px;
}
#githubbutton{
    height : 50px;
    width: 50px;;

}
*{background-color:darkseagreen;}
 
.Top-Cards{
    box-shadow: 2px 2px, 10px;
}