/* *{
    Text-shadow: 2px 4px 13px black;
    
} */
.container{
    background: linear-gradient(green, #013220);
    color:bisque;
    /* border: none;
    padding: none;
    margin: none; */
    /* margin-right: 10px;
    margin-left: 10px; */
    
}
.header{
    background-color: rebeccapurple;
    padding-bottom: 20px;
    padding-top: 20px;
    /* background-color: green; */
}
.logo{
    height: 100px;
    width: 100px;
}
nav{
    background-color: white;
}
.bio1{
    font-size: 2rem;
    
}
#linkedinbutton{
    height: 50px;
    width: 50px;
}
#githubbutton{
    height : 50px;
    width: 50px;;

}
/* *{background-color:darkseagreen;} */
 
.Top-Cards{
    box-shadow: 2px 2px, 10px;
}
.Skills{
font-size: 5rem;
text-align: center;
text-decoration: underline;
padding: 0;
margin: 35px;
margin-bottom: 70px;
/* border: 0; */

}
.Skills-Listed{
text-align: center;
font-size: 2rem;
padding-right: 15px;
padding-left: 15px;

}
html{
    margin: 0;
    padding: 0;
    border: 0;
}
.project-title{
    font-size: 16px;
    text-decoration: none;
  
}
.institution{
font-size: 1.2rem;


}
.degree{
font-size: 1.2rem;

}
.year{
font-size: 1.2rem;
}
